.btn {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px; 
  text-align: center;
  margin-right: 5px;

  @include m(material-success) {
    background-color: #009788;
		color: white;
		text-transform: uppercase;
		&:hover,
		&:focus {
			background-color: #00bfac;			
		}
  } 

	@include m(white) {
		background-color: #fff;
		color: #313131;
		&:hover,
		&:focus {
			background-color: #eee;
		}
	}

  @include m(success) {
    background-color: $success;
    border: 1px solid $success-border;
    color: white;
    &:hover,
    &:focus {
      background-color: $success-hover;
    }
  }

  @include m(warning) {
    background-color: $warning;
    border: 1px solid $warning-border;
    color: white;
    &:hover {
      background-color: $warning-hover;
    }
  }

  @include m(danger) {
    background-color: $danger;
    border: 1px solid $danger-border;
    color: white;
    &:hover {
      background-color: $danger-hover;
    }
  }

  @include m(info) {
    background-color: $info;
    border: 1px solid $info-border;
    color: white;
    &:hover {
      background-color: $info-hover;
    }
  }

  @include m(primary) {
    background-color: $primary;
    border: 1px solid $primary-border;
    color: white;
    &:hover {
      background-color: $primary-hover;
    }
  }

  @include m(rounded) {
    border-radius: 5px;
  }
}
