
.auth-form {
  background: rgba(255, 255, 255, 0.3);
  width: 500px;
  border-radius: 3px;
  padding: 10px 20px;

  @include e(heading) {
    text-align: center;
    margin: 10px 0px;
  }

  @include e(label) {
    display: block;
  }

  @include e(input) {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
  }
  
}

.material-form {
  padding-left: 10px;
  @include e(group) {
    position: relative;
    margin-bottom: 10px;
  }
  @include e(input) {
    background: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0px;
    min-width: 250px;
    &:focus,
    &:valid {
      & + .material-form__label {
        @include transform(translate(-20px, -20px) scale(0.8));
      color: $nav-icon-active-color;
      } 
      border-bottom: 1px solid $nav-icon-active-color;
    }
  } 
  @include e(label) {
    position: absolute;
    left: 0px;
    top: 10px; 
    @include transition(transform ease-in 200ms);
  }
}
