.table {
  width: 100%;
  @include m(border) {
    .heading {
      border-bottom: 2px solid #ddd;
    }

    tr {
      border-bottom: 1px solid #eee;
    }

    td,
    th {
      padding: 10px 5px;
      text-align: left;
    }
  }
}
