// ====================================================================
// Heading         : Toastr
// Descriptions    : All of the toastr with angular js  are implemented here.
// ====================================================================


.toastr {
    position: fixed;
    z-index: 99999;
    bottom: 20px;
    right: 5%;
    background-color: $info;
    overflow-y: hidden;
    color: white;


    @include m(hide) {
      display: none;
    }

    @include m(info) {
        background-color: $info;
    }

    @include m(warning) {
        background-color: $warning;
    }
    @include m(danger) {
        background-color: $danger;
    }
    @include m(success) {
        background-color: $success;
    }
}
