// ====================================================================
// Heading         : Content
// Descriptions    : Styles for Content Region.All of the layouts rules
// must be prefixed with l-.
// ====================================================================

.l-nav {
  background-color: $nav-menu-bg;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0; 
}

.l-main {
  width: 100%;
  padding-left: 100px;
}
