// ====================================================================
// Heading         : Content
// Descriptions    : Styles for Content Region.All of the layouts rules
// must be prefixed with l-.
// ====================================================================

.l-auth {
  background: $auth-gradient;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
